@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap');
body{
    padding: 0;
    margin: 0;
    background-color: rgb(230, 240, 251);
    font-family: 'Noto Sans KR', sans-serif;
}

.App{
    width: 100vw;
}

.col{
    display: flex;
    flex-direction: column;
}
.row{
    display: flex;
}
.btn{
    margin: 15px;
}
.button{
    width: 82.2%;
    height: 38px;
}
.button button{
    width: 33.5%;
    background-color:  rgb(255, 255, 255);
    border: 1px solid rgb(230, 227, 227);
    cursor: pointer;
}
.button button:hover{
    background-color: rgb(130, 173, 251);
    border: 3px solid rgb(130, 173, 251);
    color: white;
}
.button :first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
.button :last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.button .active{
    background-color: rgb(130, 173, 251);
    border: 3px solid rgb(130, 173, 251);
    color: white;
}

.sideBar *{
    margin: 7px;
}
input[type='checkbox']{
    cursor: pointer;
}

.sideBar span:hover{
    background-color: rgb(230, 240, 251);
    cursor: pointer;
}
.sideBar span{
    height: 30px;
}
.sideBar {
    width: 35%;
    height: 23%;
    margin: 15px;
}
.shadow{
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(230, 227, 227);
    border-radius: 10px;
    box-shadow: 1px 1px 3px 1px rgb(233, 228, 228);
}
.centered {
    justify-content:  center;
    align-items: center;
}
 
.logo {
    width: 70px;
    box-sizing: 1;
}
.wrapper {
    width: 60%;
}
.card-wrapper {
    width: 100%;
    margin-left: 70px;
}
.card{
    width:  80%;
    height: 25%;
    margin: 10px;
}
.card *{
    margin: 5px;
}
.card_c img{
    width: 30%;
    box-sizing: 1;   
}
.card .card_c,
.card .segment-wrapper{
  width: 90%;
  justify-content: space-between;
  margin: 5px;
}
.grey {
    color: #a0b0b9;
    text-transform: uppercase;
}
.colum{
    width: 30%;
    box-sizing: 1;
}
.loop{
    margin-left: 40%;
    animation: loop 1s linear infinite;
}
.circle {
    width: 20px;
    height: 20px;
    border: 1px solid white;
    border-radius: 50%;
    transition: 0.3s all;
    margin: 10px;
    cursor: pointer;
  }